<app-exercise-header [exerciseId]="exerciseId()" [progress]="progress()" />

<section #questions class="flex flex-auto flex-col pb-6 overflow-auto">
  <div class="flex max-w-2xl mx-auto w-full">
    <pre class="mx-auto"><code language="vbnet">Option Explicit
Option Base 1

Sub Kaartspel()

    Const AANTAL As Integer = 4
    Dim intKaartenTrekken(AANTAL) As Integer
    Dim intI As Integer

    For intI = 1 To AANTAL
        intKaartenTrekken(intI) = intI * 2
    Next intI

    MsgBox ("Speler 3 moet " & CStr(intKaartenTrekken(3)) & " kaarten trekken")

End Sub
</code></pre>
  </div>

  @if (question() >= 1) {
  <div cdkDropListGroup class="flex flex-col gap-2 max-w-2xl mx-auto px-4 py-6 w-full">
    <p class="text-base">Sleep de elementen naar de juiste locatie.</p>
    <div
      cdkDropList
      class="flex min-h-11 mb-4"
      id="question-1-elements"
      [cdkDropListConnectedTo]="question1DropListIds"
      [cdkDropListData]="question1Elements()"
      (cdkDropListDropped)="question1ElementDropped($event)">
      @for (element of question1Elements(); track $index) {
      <span cdkDrag class="cursor-pointer text-base font-medium px-4 py-2" [cdkDragData]="element">{{ element }}</span>
      }
    </div>
    <div class="flex gap-4 max-w-2xl mx-auto">
      <div class="flex flex-col items-end gap-4 w-full">
        <div class="h-11 flex items-center">Waarde</div>
        <div class="h-11 flex items-center">Index</div>
      </div>
      <div class="flex flex-col gap-4 mx-auto">
        <div class="flex">
          <div
            cdkDropList
            class="element-dropzone flex justify-center min-w-30"
            id="question-1-value-1"
            [cdkDropListConnectedTo]="question1DropListIds"
            [cdkDropListData]="question1Value1()"
            [cdkDropListEnterPredicate]="allowSingleItemDrop"
            [ngClass]="{ correct: question1Value1Correct() }"
            (cdkDropListDropped)="question1ElementDropped($event)">
            @for (element of question1Value1(); track element) {
            <span
              cdkDrag
              class="text-base font-medium px-4 py-2"
              [cdkDragData]="element"
              [cdkDragDisabled]="question1Value1Correct()"
              [ngClass]="{'cursor-pointer': !question1Value1Correct()}"
              >{{ element }}</span
            >
            }
          </div>
          <div
            cdkDropList
            class="element-dropzone flex justify-center min-w-30"
            id="question-1-value-2"
            [cdkDropListConnectedTo]="question1DropListIds"
            [cdkDropListData]="question1Value2()"
            [cdkDropListEnterPredicate]="allowSingleItemDrop"
            [ngClass]="{ correct: question1Value2Correct() }"
            (cdkDropListDropped)="question1ElementDropped($event)">
            @for (element of question1Value2(); track element) {
            <span
              cdkDrag
              class="text-base font-medium px-4 py-2"
              [cdkDragData]="element"
              [cdkDragDisabled]="question1Value2Correct()"
              [ngClass]="{'cursor-pointer': !question1Value2Correct()}"
              >{{ element }}</span
            >
            }
          </div>
          <div
            cdkDropList
            class="element-dropzone flex justify-center min-w-30"
            id="question-1-value-3"
            [cdkDropListConnectedTo]="question1DropListIds"
            [cdkDropListData]="question1Value3()"
            [cdkDropListEnterPredicate]="allowSingleItemDrop"
            [ngClass]="{ correct: question1Value3Correct() }"
            (cdkDropListDropped)="question1ElementDropped($event)">
            @for (element of question1Value3(); track element) {
            <span
              cdkDrag
              class="text-base font-medium px-4 py-2"
              [cdkDragData]="element"
              [cdkDragDisabled]="question1Value3Correct()"
              [ngClass]="{'cursor-pointer': !question1Value3Correct()}"
              >{{ element }}</span
            >
            }
          </div>
          <div
            cdkDropList
            class="element-dropzone flex justify-center min-w-30"
            id="question-1-value-4"
            [cdkDropListConnectedTo]="question1DropListIds"
            [cdkDropListData]="question1Value4()"
            [cdkDropListEnterPredicate]="allowSingleItemDrop"
            [ngClass]="{ correct: question1Value4Correct() }"
            (cdkDropListDropped)="question1ElementDropped($event)">
            @for (element of question1Value4(); track element) {
            <span
              cdkDrag
              class="text-base font-medium px-4 py-2"
              [cdkDragData]="element"
              [cdkDragDisabled]="question1Value4Correct()"
              [ngClass]="{'cursor-pointer': !question1Value4Correct()}"
              >{{ element }}</span
            >
            }
          </div>
        </div>
        <div class="flex">
          <div class="flex justify-center min-w-30">
            <div
              cdkDropList
              class="element-dropzone flex justify-center min-w-12"
              id="question-1-index-1"
              [cdkDropListConnectedTo]="question1DropListIds"
              [cdkDropListData]="question1Index1()"
              [cdkDropListEnterPredicate]="allowSingleItemDrop"
              [ngClass]="{ correct: question1Index1Correct() }"
              (cdkDropListDropped)="question1ElementDropped($event)">
              @for (element of question1Index1(); track element) {
              <span
                cdkDrag
                class="text-base font-medium px-4 py-2"
                [cdkDragData]="element"
                [cdkDragDisabled]="question1Index1Correct()"
                [ngClass]="{'cursor-pointer': !question1Index1Correct()}"
                >{{ element }}</span
              >
              }
            </div>
          </div>
          <div class="flex justify-center min-w-30">
            <div
              cdkDropList
              class="element-dropzone flex justify-center min-w-12"
              id="question-1-index-2"
              [cdkDropListConnectedTo]="question1DropListIds"
              [cdkDropListData]="question1Index2()"
              [cdkDropListEnterPredicate]="allowSingleItemDrop"
              [ngClass]="{ correct: question1Index2Correct() }"
              (cdkDropListDropped)="question1ElementDropped($event)">
              @for (element of question1Index2(); track element) {
              <span
                cdkDrag
                class="text-base font-medium px-4 py-2"
                [cdkDragData]="element"
                [cdkDragDisabled]="question1Index2Correct()"
                [ngClass]="{'cursor-pointer': !question1Index2Correct()}"
                >{{ element }}</span
              >
              }
            </div>
          </div>
          <div class="flex justify-center min-w-30">
            <div
              cdkDropList
              class="element-dropzone flex justify-center min-w-12"
              id="question-1-index-3"
              [cdkDropListConnectedTo]="question1DropListIds"
              [cdkDropListData]="question1Index3()"
              [cdkDropListEnterPredicate]="allowSingleItemDrop"
              [ngClass]="{ correct: question1Index3Correct() }"
              (cdkDropListDropped)="question1ElementDropped($event)">
              @for (element of question1Index3(); track element) {
              <span
                cdkDrag
                class="text-base font-medium px-4 py-2"
                [cdkDragData]="element"
                [cdkDragDisabled]="question1Index3Correct()"
                [ngClass]="{'cursor-pointer': !question1Index3Correct()}"
                >{{ element }}</span
              >
              }
            </div>
          </div>
          <div class="flex justify-center min-w-30">
            <div
              cdkDropList
              class="element-dropzone flex justify-center min-w-12"
              id="question-1-index-4"
              [cdkDropListConnectedTo]="question1DropListIds"
              [cdkDropListData]="question1Index4()"
              [cdkDropListEnterPredicate]="allowSingleItemDrop"
              [ngClass]="{ correct: question1Index4Correct() }"
              (cdkDropListDropped)="question1ElementDropped($event)">
              @for (element of question1Index4(); track element) {
              <span
                cdkDrag
                class="text-base font-medium px-4 py-2"
                [cdkDragData]="element"
                [cdkDragDisabled]="question1Index4Correct()"
                [ngClass]="{'cursor-pointer': !question1Index4Correct()}"
                >{{ element }}</span
              >
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  } @if (question() >= 2) {
  <div class="flex flex-col gap-2 max-w-2xl mx-auto px-4 py-6 w-full">
    <p class="text-base">Wat verschijnt er in de message box als je de sub Kaartspel uitvoert?</p>
    <mat-radio-group
      aria-labelledby="question-2-label"
      class="flex flex-col"
      id="question-2-radio-group"
      name="question-2-radio-group"
      [(ngModel)]="question2Answer">
      @for (answer of question2Answers(); track $index) {
      <mat-radio-button [value]="answer">{{ answer }}</mat-radio-button>
      }
    </mat-radio-group>
    @if (question2Checked() || question() > 2) {
    <app-feedback-button [correct]="question2Correct()" [feedback]="question2ShowFeedback()">
      <p correct>
        In de lus krijgt elk element de waarde index * 2. Voor index 3 is dat 3 * 2 = 6, dus speler 3 moet 6 kaarten
        trekken.
      </p>
      <p tip>Welke waarde krijgt het element met index 3 wanneer je de lus stap voor stap volgt?</p>
    </app-feedback-button>
    }
  </div>
  } @if (question() >= 3) {
  <div class="flex flex-col gap-2 max-w-2xl mx-auto px-4 py-6 w-full">
    <p class="text-base">Welke uitspraak klopt?</p>
    <mat-radio-group
      aria-labelledby="question-3-label"
      class="flex flex-col"
      id="question-3-radio-group"
      name="question-3-radio-group"
      [(ngModel)]="question3Answer">
      @for (answer of question3Answers(); track $index) {
      <mat-radio-button [value]="answer">{{ answer }}</mat-radio-button>
      }
    </mat-radio-group>
    @if (question3Checked() || question() > 3) {
    <app-feedback-button [correct]="question3Correct()" [feedback]="question3ShowFeedback()">
      <p correct>In de For-lus krijgt elk element van de array een waarde op basis van de index (intI * 2).</p>
      <p tip>Waar in de code zie je dat de waarden van de array worden toegekend?</p>
    </app-feedback-button>
    }
  </div>
  }
</section>

<app-exercise-footer
  [checked]="checked()"
  [checking]="checking()"
  [correct]="correct()"
  [isCheckDisabled]="isCheckDisabled()"
  (check)="check()"
  (continue)="continue()" />
