<app-exercise-header [exerciseId]="exerciseId()" [progress]="progress()" />

<section #questions class="flex flex-auto flex-col pb-6 overflow-auto">
  @if (question() >= 1) {
  <div class="flex flex-col gap-2 max-w-2xl mx-auto px-4 py-6 w-full">
    <p class="text-base text-justify">
      Schrijf nu zelf een programma met de naam Checklist dat een string-array van 3 elementen (index 1 t.e.m. 3)
      aanmaakt en de nodige hulpvariabelen declareert. Het programma vraagt 3 keer via een InputBox welk kampeeritem je
      wil toevoegen, waarbij het nummer van het item in de vraag vermeld wordt (bv. “Geef item 1 in:”). Elke ingegeven
      tekst wordt in een For-lus opgeslagen in de array. Binnen dezelfde lus bouw je één tekst op in het formaat:
      “Checklist:” gevolgd door telkens - item op een nieuwe regel. Toon het volledige lijstje met één MsgBox, zoals in
      het voorbeeld:
    </p>
    <!-- TODO: Update image -->
    <img alt="MsgBox voorbeeld" height="320" ngSrc="/images/adventure/checklist/make/MsgBox.png" priority width="242" />
  </div>
  <div class="flex flex-col max-w-2xl mx-auto w-full">
    <pre
      class="mx-auto"><code contenteditable language="vbnet" spellcheck="false" (input)="question1Answer.set($any($event).target.innerHTML)" (keydown)="tabTo4Spaces($event)">{{ question1Answer() }}
</code></pre>
  </div>
  @if (question1Tips().length > 0) {
  <div class="flex flex-col gap-2 max-w-2xl mx-auto px-4 py-6 w-full">
    <div class="flex flex-col items-start gap-4 mt-2">
      <button matButton="outlined" type="button" (click)="question1ShowTips.set(!question1ShowTips())">
        <mat-icon>{{ question1ShowTips() ? 'expand_less' : 'expand_more'}}</mat-icon>
        <span>Tips</span>
      </button>
      @if (question1ShowTips()) {
      <ul class="list-disc text-base pl-6">
        @for (tip of question1Tips(); track $index) {
        <li>{{ tip }}</li>
        }
      </ul>
      }
    </div>
  </div>
  } }
</section>

<app-exercise-footer
  [checked]="checked()"
  [checking]="checking()"
  [correct]="correct()"
  [isCheckDisabled]="isCheckDisabled()"
  (check)="check()"
  (continue)="continue()" />
